.memberInfoBox {
  background: #181c23;
  opacity: 0.8;
  border-radius: 10px;
  padding: 16px;
}

.memberInfoBox .memberInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.memberInfoBox .memberInfo > div span {
  display: block;
}

.memberInfoBox .memberInfo > div span:nth-child(1) {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.memberInfoBox .memberInfo > div span:nth-child(2) {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.memberInfoBox .memberInfo > div span:nth-child(3) {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #c5c5c5;
}

.memberInfoBox .memberInfo .profileImage {
  width: 83px;
  height: 83px;
  background-image: url("../assets/profile_img.png");
}

.memberInfoBox .memberTonateHistory > div:first-child {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
}

.memberInfoBox .memberTonateHistory > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
