.tonatePage {
  position: absolute;
  top: 0;
  width: 375px;
  background-color: #222;
  padding: 40px 20px 0;
  font-family: "Roboto";
  font-style: normal;
}

.title {
  display: block;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  margin-bottom: 15px;
}
