:root {
  --font-color-default: white;
}

body::-webkit-scrollbar {
  display: none;
}

.app {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  color: var(--font-color-default);
}
